body{
    background: lightgreen;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.container {
    max-width: 550px;
    margin: 70px auto auto auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    background: green;
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid #dfe4ea;
    overflow: hidden;
}

.item-items-wrapper {
    padding: 20px;
 }

.item-title {
    display: flex;
    padding: 20px;
}

.item-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
}

.item-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
}

.item-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
}

#search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.button {
    border: 1px solid #757575;
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

#add-link {
    color: #6249cf;
    text-decoration: none;
    font-size: 42px;
    text-shadow: 1px 1px #81413b;
}

.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: #6249cf;
    font-size: 22px;
    line-height: 0;
    padding-left: 0px;
    padding-right: 5px;
}

.todos {
    margin-left: 20px;
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

label {
    padding-top: 10px !important;
    display: block;
}

::placeholder {
    font-weight: 300;
    opacity: 0.5;
}

.card-body {
    padding: 40px;
    
}

.card-body>form>p>label {
    font-weight: bold;
}

.buttona {
    color: white;
}


/************ BASE.HTML Styling *****************/


/* Top Description Bar */
.top-bar {
    max-width: 800px;
    margin: -50px auto 20px auto;
    padding: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    padding: 0 10px;
}

.p-login {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: red;
    text-align: center;
}

/* Footer Bar */
.footer-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
    padding-top: 3px;
    background-color: #f9f9f9; 
    color: #000000;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Shadow at the top of the footer */
}

.social-text {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 0;
}

.social-links {
    margin-top: 5px;
}

.social-link {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.social-link:hover {
    text-decoration: underline;
}

#reg-p {
    margin-bottom: 0px;
    margin-top: 40px;
}

#reg-p2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.errorlist {
    font-weight: bold;
    color: red;
}


#bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}


@media (max-height: 730px) {
    .social-text {
        display: none;
    }
}

